.card {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card > img {
  width: 50%;
  margin-bottom: 0.5rem;
}

.card > button {
  margin-top: 1rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid blue;
  color: blue;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.card > button:hover {
  background-color: blue;
  color: white;
}

@media (max-width: 768px) {
  .card > img {
    width: 100%;
  }
}
